.vscode/svlangserver/index.json
.vscode/svlangserver/linter.vc
ccc.cache/sim/ssm.db
ccc.cache/wt/project.wpc
ccc.cache/wt/synthesis.wdf
ccc.cache/wt/xsim.wdf
ccc.hw/ccc.lpr
ccc.ip_user_files/README.txt
ccc.sim/sim_1/behav/xsim/compile.bat
ccc.sim/sim_1/behav/xsim/crc16_generator_tb_behav.wdb
ccc.sim/sim_1/behav/xsim/crc16_generator_tb_vlog.prj
ccc.sim/sim_1/behav/xsim/crc16_generator_tb.tcl
ccc.sim/sim_1/behav/xsim/elaborate.bat
ccc.sim/sim_1/behav/xsim/elaborate.log
ccc.sim/sim_1/behav/xsim/glbl.v
ccc.sim/sim_1/behav/xsim/simulate.bat
ccc.sim/sim_1/behav/xsim/simulate.log
ccc.sim/sim_1/behav/xsim/xelab.pb
ccc.sim/sim_1/behav/xsim/xsim.ini
ccc.sim/sim_1/behav/xsim/xvlog.log
ccc.sim/sim_1/behav/xsim/xvlog.pb
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/Compile_Options.txt
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/TempBreakPointFile.txt
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/xsim.dbg
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/xsim.mem
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/xsim.reloc
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/xsim.rlx
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/xsim.rtti
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/xsim.svtype
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/xsim.type
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/xsim.xdbg
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/xsimcrash.log
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/xsimk.exe
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/xsimkernel.log
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/xsimSettings.ini
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/obj/xsim_0.win64.obj
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/obj/xsim_1.c
ccc.sim/sim_1/behav/xsim/xsim.dir/crc16_generator_tb_behav/obj/xsim_1.win64.obj
ccc.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/crc16_generator_tb.sdb
ccc.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/crc16_generator.sdb
ccc.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/glbl.sdb
ccc.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
ccc.xpr
